* {
  margin: 0;
  padding: 0;
}

body {
	background: #160417;
  font-family: "futura-pt-condensed", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/*-- HELPERS -----------------------------*/

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

/*-- HEADER -----------------------------*/

header {
  background: black;
  position: relative;
  height: 175px;
}

header .logo {
  position: absolute;
  z-index: 5;
  top: 20px;
  left: 50%;
  margin-left: -308px;
}

nav {
  float: left;
  margin: 70px 5% 0;
}

nav a {
  font-size: 25px;
}

nav:last-of-type {
  text-align: right;
  float: right;
}

nav:last-of-type ul li {
  padding-left: 30px;
}

nav ul li {
  display: inline-block;
  color: white;
  text-decoration: none;
}


/*-- BODY -----------------------------*/

#container {
  text-align: center;
  width: 1000px;
  margin: 0 auto;  
}

h2, p {
  color: white;
  font-size: 32px;
}

section {
  margin-top: 350px;
}

section:first-of-type {
  padding-top: 100px;
}

h2 {
  font-weight: normal;
  margin-bottom: 70px;
}

.dev-duo {
  width: 600px;
  margin: 0 auto;
}

.portrait h3 {
  font-weight: normal;
  margin: 30px 0 0;
  font-size: 40px;
}

.portrait.dave {
  float: left;
}

.portrait.dave h3 {
  color: #a3fcef;
}

.portrait.will {
  float: right;
}

.portrait.will img {
  margin: 26px -46px 0 0;
}

.portrait.will h3 {
  color: #fdb8cf;
}

.atgb-logo {
  width: 100%;
}

.atgb-logo img {
  width: 90%;
}

.first-game p {
  margin-top: 0;
}

#time {
  font-size: 25px;
  color: #f70364;
  display: inline-block;
  margin-top: 60px;
}

section.start-up-blog {
  margin-bottom: 0;
}

.startup-blog {
  background: #f70364;
  padding: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.social-media {
  width: 600px;
  margin: 350px auto 0;
  height: 300px;
}

.social-media ul li {
  float: left;
  margin-right: 14%;
}

.social-media ul li:last-of-type {
  margin-right: 0;
}

.mobile-nav {
  display: none;
}

#mobile-nav-btn {
  display: none;
}


/*-- MOBILE STYLES -----------------------------*/

@media only screen and (max-width: 983px) { 
  .hide-on-mobile {
    display: none;
  }
  
  .mobile-nav {
    display: block;
    position: absolute;
    top: 0;
    width: 250px;
    background: black;
    height: 100%;
    transition: all .23s ease-out;
    -webkit-transition: all .23s ease-out;
    transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
  }
  
  #container {
    width: initial;
    margin: 0 20px;
    transition: all .23s ease-out;
    -webkit-transition: all .23s ease-out;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
    
  body.open .mobile-nav {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    background: #333;
  }
  
  body.open #container {
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
  }
  
  body.open header {
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
  }
  
  .mobile-nav a {
    display: block;
    height: 47px;
    border-bottom: 1px solid gray;
    line-height: 2.6;
    padding: 10px;
    font-size: 20px;
  }
  
  .mobile-nav img {
    width: 50px;
  }
  
  #mobile-nav-btn {
    display: block;
    width: 32px;
    height: 32px;
    padding: 30px 0 0 20px;
  }
  
  #mobile-nav-btn span {
    height: 2px;
    border-radius: 5px;
    width: 100%;
    background: white;
    display: block;
    margin-bottom: 5px;
  }
  
  header {
    height: 80px;
    transition: all .23s ease-out;
    -webkit-transition: all .23s ease-out;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  
  header .logo {
    margin-left: -100px;
  }
  
  header .logo img {
    width: 200px;
  }
  
  section {
    width: initial;
    margin-top: 200px;
  }
  
  section.dev-duo {
    width: initial;
  }
  
  .portrait.dave, .portrait.will {
    float: initial;
  }
  
  .portrait.will {
    margin-top: 40px;
  }
  
  .first-game p {
    margin-top: 20px;
  }
  
  #time {
    margin-top: 20px;
  }
  
  .atgb-logo {
    width: 100%;
  }
  
  .atgb-logo img {
    width: 80%;
  }
  
  section.start-up-blog {
    margin-bottom: 40px;
  }
}