* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(22,4,23,1);
  background: -moz-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,4,23,1)), color-stop(50%, rgba(31,6,33,1)), color-stop(98%, rgba(22,4,23,1)), color-stop(100%, rgba(22,4,23,1)));
  background: -webkit-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: -o-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: -ms-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: linear-gradient(to bottom, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160417', endColorstr='#160417', GradientType=0 );
  font-family: "futura-pt-condensed", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/*-- HELPERS -----------------------------*/

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.game-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.game-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*-- HEADER -----------------------------*/

header {
  background: white;
  position: relative;
  height: 80px;
}

header .logo {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  margin-left: -150px;
  width: 300px;
}

.logo img {
  width: 100%;
}

nav {
  float: left;
  margin: 25px 5% 0;
}

nav a {
  font-size: 20px;
}

nav:last-of-type {
  text-align: right;
  float: right;
}

nav:first-of-type ul li:last-of-type {
  padding-left: 30px;
}

nav:last-of-type ul li {
  padding-left: 30px;
}

nav ul li {
  display: inline-block;
  color: white;

}

nav ul li a {
  color: #160417;
  text-decoration: none;
  border: none;
  -webkit-transition: all 0.13s;
  -moz-transition: all 0.13s;
  transition: all 0.13s;
}

nav ul li a:hover {
  color: #f70364;
  border-bottom: 3px solid;
}


/*-- BODY -----------------------------*/

#container {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  background: rgba(22,4,23,1);
  background: -moz-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,4,23,1)), color-stop(50%, rgba(31,6,33,1)), color-stop(98%, rgba(22,4,23,1)), color-stop(100%, rgba(22,4,23,1)));
  background: -webkit-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: -o-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: -ms-linear-gradient(top, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  background: linear-gradient(to bottom, rgba(22,4,23,1) 0%, rgba(31,6,33,1) 50%, rgba(22,4,23,1) 98%, rgba(22,4,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160417', endColorstr='#160417', GradientType=0 );
}

h2, p {
  color: white;
  font-size: 32px;
}

section {
  margin-top: 350px;
}

section:first-of-type {
  padding-top: 100px;
}

h2 {
  font-weight: normal;
  margin-bottom: 70px;
}

.dev-duo {
  width: 600px;
  margin: 0 auto;
}

.portrait h3 {
  font-weight: normal;
  margin: 30px 0 0;
  font-size: 40px;
}

.portrait.dave {
  float: left;
}

.portrait.dave h3 {
  color: #a3fcef;
}

.portrait.will {
  float: right;
}

.portrait.will img {
  margin: 26px -46px 0 0;
}

.portrait.will h3 {
  color: #fdb8cf;
}

.atgb-logo {
  width: 100%;
  border: 3px solid #f70364;
  border-radius: 10px;
  margin: 10px;
  -webkit-transition: 0.23s all;
  transition: 0.23s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.atgb-logo > img {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.atgb-logo:first-of-type > img {
  padding: 5%;
  width: 90%;
}

.atgb-logo:hover {
  filter: saturate(3);
  -webkit-filter: saturate(3);
}

.release-platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f70364;
  padding: 10px;
  height: 60px;
}

.release-platforms > img {
  width: 60px;
  margin-right: 10px;
}

.first-game p {
  margin-top: 0;
}

#time {
  font-size: 25px;
  color: #f70364;
  display: inline-block;
  margin-top: 60px;
}

section.start-up-blog {
  margin-bottom: 0;
}

.startup-blog {
  background: #f70364;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.social-media {
  width: 600px;
  margin: 350px auto 0;
  height: 300px;
}

.social-media ul li {
  float: left;
  margin-right: 14%;
}

.social-media ul li:last-of-type {
  margin-right: 0;
}

.mobile-nav {
  display: none;
}

#mobile-nav-btn {
  display: none;
}


/*-- MOBILE STYLES -----------------------------*/

@media only screen and (max-width: 983px) {
  body {
    background: #333;
    overflow-x: hidden;
  }

  .hide-on-mobile {
    display: none;
  }

  .mobile-nav {
    display: block;
    position: absolute;
    top: 0;
    width: 250px;
    background: black;
    height: 100%;
    transition: all .23s ease-out;
    -webkit-transition: all .23s ease-out;
    transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
  }

  .game-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #container {
    width: initial;
    padding: 0 20px 20px;
    transition: all .23s ease-out;
    -webkit-transition: all .23s ease-out;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  body.open .mobile-nav {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    background: #333;
  }

  body.open #container {
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
  }

  body.open header {
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
  }

  .mobile-nav a {
    display: block;
    height: 47px;
    border-bottom: 1px solid gray;
    line-height: 2.6;
    padding: 10px;
    font-size: 20px;
  }

  .mobile-nav img {
    width: 50px;
  }

  #mobile-nav-btn {
    display: block;
    width: 32px;
    height: 32px;
    padding: 30px 0 0 20px;
  }

  #mobile-nav-btn span {
    height: 2px;
    border-radius: 5px;
    width: 100%;
    background: #160417;
    display: block;
    margin-bottom: 5px;
  }

  header {
    height: 80px;
    transition: all .23s ease-out;
    -webkit-transition: all .23s ease-out;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  header .logo {
    margin-left: -125px;
    top: 5px;
  }

  header .logo img {
    width: 250px;
  }

  section {
    width: initial;
    margin-top: 200px;
  }

  section.dev-duo {
    width: initial;
  }

  .portrait.dave, .portrait.will {
    float: initial;
  }

  .portrait.will {
    margin-top: 40px;
  }

  .first-game p {
    margin-top: 20px;
  }

  #time {
    margin-top: 20px;
  }

  .atgb-logo {
    width: 100%;
  }

  .atgb-logo > img {
    width: 80%;
  }

  .atgb-logo:last-of-type > img {
    width: 100%;
  }

  section.start-up-blog {
    margin-bottom: 40px;
  }
}